# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Component Preview
previewConfig.json

src/assets
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.34.0/linux_amd64/terraform-provider-aws_v4.34.0_x5
terraform/.terraform.lock.hcl
public/landing_photo.jpg
public/profile_photo.jpg
terraform/.terraform/providers/registry.terraform.io/hashicorp/archive/2.4.2/linux_amd64/terraform-provider-archive_v2.4.2_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/linux_amd64/terraform-provider-aws_v5.46.0_x5
