.dark {
  --md-sys-color-primary: 147 205 246;
  --md-sys-color-on-primary: 0 52 76;
  --md-sys-color-primary-container: 0 76 108;
  --md-sys-color-on-primary-container: 199 231 255;
  --md-sys-color-secondary: 182 201 216;
  --md-sys-color-on-secondary: 33 50 62;
  --md-sys-color-secondary-container: 55 73 85;
  --md-sys-color-on-secondary-container: 210 229 245;
  --md-sys-color-tertiary: 205 192 233;
  --md-sys-color-on-tertiary: 52 43 75;
  --md-sys-color-tertiary-container: 75 66 99;
  --md-sys-color-on-tertiary-container: 233 221 255;
  --md-sys-color-error: 255 180 171;
  --md-sys-color-on-error: 105 0 5;
  --md-sys-color-error-container: 147 0 10;
  --md-sys-color-on-error-container: 255 218 214;
  --md-sys-color-background: 16 20 23;
  --md-sys-color-on-background: 223 227 231;
  --md-sys-color-surface: 16 20 23;
  --md-sys-color-on-surface: 223 227 231;
  --md-sys-color-surface-variant: 65 72 77;
  --md-sys-color-on-surface-variant: 193 199 206;
  --md-sys-color-outline: 139 145 152;
  --md-sys-color-outline-variant: 65 72 77;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-surface-container: 28 32 36;
}
