:root {
  --md-sys-color-primary: 34 100 136;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 199 231 255;
  --md-sys-color-on-primary-container: 0 30 46;
  --md-sys-color-secondary: 79 97 110;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 210 229 245;
  --md-sys-color-on-secondary-container: 11 29 41;
  --md-sys-color-tertiary: 99 89 124;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 233 221 255;
  --md-sys-color-on-tertiary-container: 31 22 53;
  --md-sys-color-error: 186 26 26;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 255 218 214;
  --md-sys-color-on-error-container: 65 0 2;
  --md-sys-color-background: 246 250 254;
  --md-sys-color-on-background: 24 28 32;
  --md-sys-color-surface: 246 250 254;
  --md-sys-color-on-surface: 24 28 32;
  --md-sys-color-surface-variant: 221 227 234;
  --md-sys-color-on-surface-variant: 65 72 77;
  --md-sys-color-outline: 113 120 126;
  --md-sys-color-outline-variant: 193 199 206;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 45 49 53;
  --md-sys-color-inverse-on-surface: 238 241 246;
  --md-sys-color-inverse-primary: 147 205 246;
  --md-sys-color-surface-container: 235 238 243;
}
